# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# ------------------------------
# Virtual Environment
# ------------------------------
venv/

# ------------------------------
# Vector Database / Local Storage
# ------------------------------

vector_db/


# ------------------------------
# Dataset & Test Images
# (Never push biometric data)
# ------------------------------
dataset/
test_images/

# Debug output images
output/

# Logs
logs/

# ------------------------------
# OS / Editor
# ------------------------------
.vscode/


# ------------------------------
# Streamlit / Cache
# ------------------------------
.streamlit/
.cache/

# ------------------------------
# Jupyter (if used later)
# ------------------------------
.ipynb_checkpoints/

# ------------------------------
# Docker (optional local overrides)
# ------------------------------
docker-compose.override.yml
